@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
    background: #350040;
    color: white;
    font-family: Roboto;
}

header {
    background: #b72fd4;
    color: #350040;
    margin: 20px 10px;
}

header h1 {
    margin: 10px 10px;
}

main {
    margin: 10px;
}

#projects article {
    border: dotted black 2px;
    width: 300px;
    padding: 40px;
    margin: 30px;
}

#projects a {
    text-decoration: none;
    color: white;
}

footer {
    color: #808080;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    left: 50px;
}